{% block head %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="form-header">
        <img src="/pic/logo.png" alt="Logo" class="logo">
        <h2>ToDo</h2>
    </div>
        {{ form_row(registrationForm.uid) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
