{% block head %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <form action="{{ path('app_login') }}" method="post">
        <div class="form-header">
            <img src="/pic/logo.png" alt="Logo" class="logo">
            <h2>ToDo</h2>
        </div>
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username">

        <input type="password" id="password" name="_password" placeholder="Password">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> 

        <button type="submit">Login</button>

        {% if error %}
        <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock %}
